        
        </main>
        
        <footer>           
            <div class="footer">
                Blaine Silva - Copyright © <%= year %> - All Rights Reserved
            </div>
        </footer>
        <script type="text/javascript" src="/script.js" ></script>
    </body>
</html>